SHEET_ID=1T2CKdeRTC8y_mGT0cdKPskcqiHzhQvDW7uvFbPGeANU
API_SHARED_SECRET=__SET_ME__
ALL_PROXY=socks5h://127.0.0.1:1080
HTTPS_PROXY=socks5h://127.0.0.1:1080
HTTP_PROXY=socks5h://127.0.0.1:1080
GOG_ACCOUNT=lanyoujckyxgs@gmail.com
GOG_KEYRING_PASSWORD=__SET_ME__
